<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Ninety Nine Cycle</a>
        </div>
        <div>
          <a href="card.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!--picture size: 680 * 830-->
              <img class="medium" src="./images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Canyon Spectral CF 8.0</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i></span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$4000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!--picture size: 680 * 830-->
              <img class="medium" src="./images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Canyon Spectral CF 8.0</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i></span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$4000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!--picture size: 680 * 830-->
              <img class="medium" src="./images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Canyon Spectral CF 8.0</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i></span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$4000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!--picture size: 680 * 830-->
              <img class="medium" src="./images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Canyon Spectral CF 8.0</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i></span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$4000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!--picture size: 680 * 830-->
              <img class="medium" src="./images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Canyon Spectral CF 8.0</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i></span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$4000</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <!--picture size: 680 * 830-->
              <img class="medium" src="./images/p1.jpg" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Canyon Spectral CF 8.0</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i></span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">$4000</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserve</footer>
    </div>
  </body>
</html>
